<header>
  <div class="heading">
    <h1>A NO BS</h1>
    <h1>JP RESUME GENERATOR</h1>
  </div>

  <div class="gen-btn">
    <a href="/resumes/new">Generate!</a>
  </div>
</header>

<section>
  <div class="showcase">
    <%= image_tag "japanese-resume-1.png", alt: "Japanese Resume 1" %>
    <%= image_tag "japanese-resume-2.png", alt: "Japanese Resume 2" %>
    <%= image_tag "japanese-resume-3.png", alt: "Japanese Resume 3" %>
    <%= image_tag "japanese-resume-4.png", alt: "Japanese Resume 4" %>
  </div>
</section>

<footer>
  <a href="https://www.surv3e.com/", target="blank">Made by?</a>
</footer>

<style>
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
  margin-top: 90px;
  padding: 0;
}

.heading h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0;
}

.gen-btn {
  margin-top: 20px;
}

.gen-btn a {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.gen-btn a:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.showcase img {
  width: 280px;
  border: 6px solid #75C878;
  border-radius: 5px;
}

footer {
  margin-top: 24px;
}

@media (max-width: 945px) {
  .showcase img:nth-child(n+2) { /* Hides all images except the first */
    display: none;
  }
}

@media (max-width: 1240px) {
  .showcase img:last-child { /* Hides all images except the first */
    display: none;
  }
}
</style>
